h1{
    text-align: left;
    align-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}
#nombre{
    width: 700px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 17px;
}
#fecha{
    margin-bottom: 5px;
}
.btn-azul-mediano{
    background-color: rgb(140, 0, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    width: 650px;
    height: 40px;
  }
  p{
    text-align: center;
  }